* { font-family: monospace }
*,*::before,*::after { box-sizing: border-box }
::selection { background-color: lawngreen; color: #000 }
html { height: 100%; font-size: 100%; scroll-behavior: smooth; line-height: 1.6 }
body { max-width: 50rem; margin: 1rem auto; background-color: #222; color: #ddd; padding: 0 2rem 2rem 2rem}
img,video { max-width: 100% } 
h1,h2,h3,h4,h5,h6 { font-size: 1em; font-weight: normal; color: white }
h1::after { content: ' \00AC ' } 
.postdate::after { content: ' - ' }
nav { padding: 0.67em 0 calc(0.67em * 2) 0 }
footer { padding-top: 2rem }
a { color: lawngreen; padding: 0 0.5ch; }
a:focus { color: #000; background: lawngreen; padding: 0 0.5ch; }
nav a, nav a:visited { margin-right: 2ch; color: lawngreen }
nav a:focus { color: white }
hr { box-sizing: content-box; height: 0; border: 0; border-top: 1px solid #555 }
ul, ol { margin-block-start: 1em; margin-block-end: 1em; padding-inline-start: 2.5em }
ul { padding-inline-start: 1.5em }
li::marker { color: lawngreen }
code { background: #333; color: lawngreen; padding: 0 1ch }
pre code { display: block; line-height: 1.25; padding: 1.5em; background: #333; overflow-x: auto; overflow-y: hidden }
